@model gmail;
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/Contact.css">

</head>
<body>
    <div class="services-section">
        <div class="inner-width">
            <div class="title">

                <h1 class="section-title">Contact</h1>
                <div class="border"></div>
            </div>





            <div class="wrapper">

                <form action="~/Home/Contact" method="post">
                    <div class="input zoomIn animated">
                        <input type="text" value="" name="Name" required="" />
                        <label><i class="fas fa-user-tag"></i> Name</label>
                    </div>

                    <div class="input zoomIn animated">
                        <input asp-for="Subject" required="" />
                        <label><i class="fas fa-info-circle"></i> Subject</label>
                    </div>

                    <div class="input zoomIn animated">
                        <input asp-for="From" required="" />
                        <label><i class="fas fa-envelope"></i> Email</label>
                    </div>
                    <div class="input zoomIn animated">
                        <input asp-for="Password" required="" />
                        <label><i class="fas fa-key"></i> Password</label>
                    </div>
                    <div class="input zoomIn animated">
                        <textarea asp-for="Body" value="" required=""></textarea>
                        <label><i class="fas fa-comment-dots"></i> Message</label>

                    </div>

                    <input type="submit" value="Send" class="submit" />

                </form>
            </div>

        </div>
    </div>

    <script type="text/javascript">
      $(".services-section").ripples({
        resolution:400,
        perturbance:0.003,
      });
    </script>
</body>
</html>
