body{
  margin:0;
  padding:0;
  background:black;
}
      h1{
        font-family:sans-serif;
        color: #34495e;
      }
			h1 span{
				font-size: 20px;
				margin-left: 10px;
			}

.count{
	position: relative;
	display: inline-block;
	width: 100%;
}
.block{
	display: inline-block;
	width: 23%;
	height: 140px;
	margin-left: 15px;
	background: #3498db;
	border-radius: 5px;
	transition: 0.3s;
}
.block span i{
	color:#2980b9;
	float: right;
	font-size: 100px;
	margin-right: 10px;
	margin-top: 15px;
}
.block span:nth-child(2){
	position: absolute;
float: left;
color: white;
font-size: 40px;
margin-top: 25px;
margin-left: 35px;

}
.block span:nth-child(3){
	float: left;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 70px;
	font-weight: bold;
}
.block:hover{
	transform:scale(1.1);
}
.block:nth-child(2){
	display: inline-block;
	width: 23%;
	height: 140px;
	margin-left: 15px;
	background: #2ecc71;
	border-radius: 5px;
	transition: 0.3s;
}
.block:nth-child(2) span i{
	color:#27ae60;
	float: right;
	font-size: 100px;
	margin-right: 10px;
	margin-top: 15px;
}
.block:nth-child(3){
	display: inline-block;
	width: 23%;
	height: 140px;
	margin-left: 15px;
	background: #e67e22;
	border-radius: 5px;
	transition: 0.3s;
}
.block:nth-child(3) span i{
	color:#d35400;
	float: right;
	font-size: 100px;
	margin-right: 10px;
	margin-top: 15px;
}

.todo{
  background: #95a5a6;
}
        #chk {
            position: absolute;
            visibility: hidden;
            z-index: -1111;
        }

        .show-reminder,
        .hide-reminder {
            transition: 0.4s;
            text-decoration: none;
            font-size: 30px;
            cursor: pointer;
        }

        .show-reminder {
            float: right;
            color: #2c3e50;
        }

            .show-reminder i {
                line-height: 100px;
            }

            .show-reminder:hover,
            .hide-reminder:hover {
                transform: scale(1.2);
            }

        .menu {
            position: fixed;
            padding: 20px;
            width: 40%;
            height: auto;
            right: -100%;
            background-color: #bdc3c7;
            border-radius: 5px;
            top: 40%;
            text-align: center;
            transition: 0.7s;
            opacity: 0.9;
            z-index: 1;
        }

            .menu a {
                display: block;
                padding: 20px;
                text-decoration: none;
                color: white;
                font-weight: bold;
                border-bottom: 2px solid white;
            }

            .menu span {
                margin-right: 5px;
            }

        .header {
            text-decoration: none;
            color: white;
            font-size: 40px;
            font-weight: bold;
            border-bottom: 2px solid white;
        }

        .hide-reminder {
            position: absolute;
            top: 20px;
            right: 25px;
            color: white;
        }

        #chk:checked ~ .menu {
            right: 0;
        }



        #chk:checked ~ .show-reminder {
            display: none;
        }
