<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/Gallery.css">
    
     
</head>
<body>
    <div class="services-section">
        <div class="inner-width">
            <div class="title">

                <h1 class="section-title">Gallery</h1>
                <div class="border"></div>
            </div>

            <div class="gallery">
                <div class="image zoomIn animated">
                    <img src="../images/4.jpg" />
                </div>

                <div class="image zoomIn animated">
                    <img src="../images/5.jpg" />
                </div>

                <div class="image zoomIn animated">
                    <img src="../images/6.jpg" />
                </div>

                <div class="image zoomIn animated">
                    <img src="../images/7.jpg" />
                </div>

                <div class="image zoomIn animated">
                    <img src="../images/11.jpg" />
                </div>

                <div class="image zoomIn animated">
                    <img src="../images/9.jpg" />
                </div>
                <div class="image zoomIn animated">
                    <img src="../images/10.jpg" />
                </div>
                <div class="image zoomIn animated">
                    <img src="../images/8.jpg" />
                </div>



            </div>
        </div>

        <script type="text/javascript">
      $(".services-section").ripples({
        resolution:400,
        perturbance:0.003,
      });
        </script>
</body>
</html>
